{% extends 'base.html' %}


{% block title %}Home{% endblock title %}

{% block content %}
<h1>Home</h1>
<p>Welcome to BigBlog, a space where we explore a variety of topics, from the latest tech trends to thought-provoking discussions on everyday life. Whether you're here to dive deep into the world of programming, get inspired by creative ideas, or simply enjoy some insightful reading, there's something for everyone. Join the conversation and stay updated with fresh content, tips, and ideas!

</p>
{% endblock content %}